@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  margin: 0;
  padding: 0;
  outline:0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: "Source Sans Pro";
  text-rendering: optimizeLegibility;
  -webkit-fontsmoothing:antialised ;
}

header{
    background-color: #7159c1;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 980px;
    margin: auto;
}

header img{
    width: 150px;
    margin-left: 20px;
    padding: 15px 0;
}

header nav ul{
    display: flex;
}

header nav ul{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover{
    background: rgba(255, 255, 255, 0.15);
}

h2{
    color: rgb(75, 75, 75);
    font-size: 36px;
    line-height: 46px;
}

h3{
    color: rgb(75, 75, 75);
    font-size: 28px;
    line-height: 28px;
}


.button{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 89, 193);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
}

.button:hover{
    opacity: 0.9;
}